:root {
  --red: #ED5147;
  --title: "Quicksand", "sans-serif";
  --body: 'Poiret One', 'cursive';

}

* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.banner-img {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2b5c3a30ad1ec478df74c83536d47e3&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.landing {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: var(--title);
  color: var(--red);
}

.subtitle {
  font-family: var(--body);
  color: white;
  padding-top: 2%;
}

.buttons {
  display: flex;
  opacity: 0.9;
  margin: 0 auto;
}

.btn {
  margin-top: 1.5rem;
  min-width: 10rem;
  min-height: 2.2rem;
}

.content-bar {
  background: #FBFEF9;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.content-bar-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  margin: 1rem 0;
  padding: 0 1rem;
}

.card-title {
  width: 100%;
  font-family: "Quicksand", "sans-serif";
  color: var(--red);
}

.card-description {
  width: 100%;
  font-family: var(--body);
}

/* mobile */
@media screen and (max-width: 800px){
  .landing {
    width: 90vw;
    top: 1rem;
    bottom: 2rem;
    height: 95vh;
  }
  .buttons {
    flex-direction: column;
  }
  .title {
  font-size: 3.5em;
  }
  .subtitle {
  font-size: 2em;
  }
  .content-bar {
    flex-direction: column;
  }
  .card-title {
    font-size: 1.5em;
    padding-top: 1rem;
  }
  .card-description {
    font-size: 1.4em;
  }
}
/* desktop */
@media screen and (min-width: 801px) {
  .landing {
    width: 70%;
    top: 10rem;
  }
  .buttons {
    flex-direction: row;
  }
  .title {
    padding-top: 5%;
    font-size: 5em;
  }
  .subtitle {
    font-size: 32px;
  }
  .content-bar {
    flex-direction: row;
    height: 100%;
  }
  .content-bar-card {
    height: 40%;
    width: 90%;
    margin-top: 8rem;
  }
  .card-title {
    padding-top: 5%;
    font-size: 32px;
  }
  .card-description {
    font-size: 24px;
    padding-top: 15%;
  }
}
