.landing-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2b5c3a30ad1ec478df74c83536d47e3&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

.landing-card {
  background-color: rgba(0, 0, 0, 0.4);
  height: 50%;
  width: 70%;


  color: white;
  margin: auto;
  text-align: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title {
  padding-top: 5%;
  font-size: 50px;
  font-family: "Quicksand", "sans-serif";
}

.subtitle {
  font-family: 'Poiret One', 'cursive';
  font-size: 32px;
  padding-top: 2%;
}

.buttons {
  padding-top: 8%;
  opacity: 0.9;
}

.content-bar-users {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 400px;
  background: yellow;
}
